body {margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Segoe UI', Segoe, sans-serif; background: #333; color: #bbb; font-size: 15px; line-height: 140%; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul,
ol {margin: 0 0 3em 0; padding: 0; list-style: none;}

li {border-bottom: 1px dotted #666; position: relative;}

h1.logo-header {font-size: 0; color: transparent; position: absolute; top: 25px; left: 40px; background: url('../imgs/readspike-logo.svg') no-repeat left center; width: 181px; height: 42px; }


h1, h1 a {display: inline-block; text-decoration: none; color: #bbb; font-weight: 200; font-size: 24px; }
h1 a:visited {color: #bbb }
h1 a:hover {color: #fff; background: none; text-shadow: 0 0 5px #000; }

a {text-decoration: none; display: block; color: #bbb; padding: 5px 25px 5px 5px; -webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
a:visited {color: #666 }
a:hover {background: #292929; color: #fff;}
a:active {background: #222; color: #fff;}


.comments,
.show-image,
.hide-image {float: right; display: inline-block; padding: 5px 10px; cursor: pointer; position: absolute; top: 0; right: 0}

.comments {padding-top: 9px; padding-bottom: 1px;}

.show-image {right: 30px; font-size: 20px}

.hide-image {display: none; right: 30px; font-size: 20px}

.full-image {display: none; clear: both; text-align: center; z-index: 500; position: inherit}
.full-image a {padding: 0; padding: 5px; }
.full-image img {width: 100%; display: block;}

/* ! thumbnail */

.tooltip-holder  {position: absolute; right: 15px; width: 0; text-align: center; height: 0px; top: -100px; z-index: 10; opacity: 0;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }
.tooltip-holder {box-shadow: 0 5px 12px -7px rgba(0,0,0,0.9);}

.show-image:hover ~ .tooltip-holder {opacity: 1; width: 70px; height: 80px; }

.story-title {padding-right: 60px;}
.story-title.open-story, .story-title.open-story:visited {font-weight: bold; color: #666}

.nsfw .story-title:before {content: "NSFW"; color: #990000; font-size: 10px; font-weight: bold; padding-right: 5px;}

/* !news tabs */

.tab-header.bbc-title,
.tab-header.bbc-title:visited,
.tab-header.GNews-title,
.tab-header.GNews-title:visited {color: #666; padding-right: 0}

.tab-header.bbc-title.active, .tab-header.GNews-title.active {color: #bbb} 

.tab-header.bbc-title {}

.news-title-prefix:after {content: " News"}

.tab-content.GNews-news {display: none}

.back-to-top {position: fixed; bottom: 30px; right: 0; opacity: 0; padding: 10px}

footer {padding: 2%}
footer a {padding: 2%}

/* .light */ 

body.light {background: #eee; color: #666;}

.light li {border-bottom: 1px dotted #ccc;}

.light h1,.light h1 a {color: #666; }
.light h1 a:visited { color: #666 }
.light h1 a:hover { color: #333; text-shadow: none; background: transparent} 

.light a {color: #666; }
.light a:visited {color: #BEBEBE }
.light a:hover {background: #ddd; color: #000;}
.light a:active {background: #ccc; color: #222;}

.light .header-search {background: #e7e7e7; padding: 1em 0; border-bottom: 1px solid #ddd}

/* !light news tabs */

.light .tab-header.bbc-title,
.light .tab-header.bbc-title:visited,
.light .tab-header.GNews-title,
.light .tab-header.GNews-title:visited {color: #BEBEBE}

.light .tab-header.bbc-title.active, .light .tab-header.GNews-title.active {color: #666} 


.settings {position: absolute; top: 0; right: 0; padding: 34px 0 0 0; width: 150px; height: 87px; opacity: 0.5;}
.settings:hover {opacity: 1;}

.settings .lightSwitch,
.settings .darkSwitch {font-size: 0; color: transparent; margin-left: 25px; display: block; float: right; width: 16px; height: 16px; padding: 0; border-radius: 16px;}

.settings .lightSwitch  {background: #eee; border: 2px solid #333}
.settings .lightSwitch:hover  {background: #fff; border: 2px solid #fff}
.settings .darkSwitch     {background: #333; border: 2px solid #eee; margin-right: 40px}
.settings .darkSwitch:hover  {background: #000}


/* !search */

.header-search {background: #222; padding: 1em 0; border-bottom: 1px solid #111; margin-bottom: 1em;}

form {text-align: center }

input[type="text"] {width: 40%; margin: 0.5em auto; height: 40px; border: 1px solid #C9C9C9; font-size: 16px; color: #606060; padding: 0 40px 0 10px; background: #ddd; }
.light input[type="text"] {background: #fff} 
input::-webkit-input-placeholder, input::input-placeholder {color: #bbb }

input {-webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

input:focus {outline: none; -webkit-box-shadow: inset 0 0 5px #C9C9C9; box-shadow: inset 0 0 5px #C9C9C9; border: 1px solid #bbb; background: #fff}
                

/* !responsive biznizzz */

/* normal ----------- */

.col-group {overflow: hidden; margin: 0 2em}

.col-group > .col {float: right; width: 31.3%; margin: 0 1%;}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5), 
only screen and (max-width : 800px) {

  /* Styles */
  
  li a {padding: 10px 0 25px 5px; }
  
  .col-group {overflow: hidden; margin: 0;}
  
  .col-group > .col {float: none; width: auto;}
  
  .tooltip-holder,
  .show-image:hover ~ .tooltip-holder,
  .header-search {display: none}
  
  input[type="text"] {width: 80%}
  
  .comments {float: right; display: inline-block; width: 2em; height: 2em; line-height: 2em; text-align: center}

}


/* iPads (portrait and landscape) & small windows ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  /* Styles */
  
  li a {padding: 10px 25px 10px 5px; }
}
