/* !reset */

body {margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Segoe UI', Segoe, sans-serif; font-size: 15px; line-height: 140%; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}

* { -moz-box-sizing: border-box; border-box; box-sizing: border-box;}

h1 {font-weight: 200; font-size: 24px;}
h2 {font-size: 16px;}

a {text-decoration: none; -webkit-transition: all 0.1s ease; transition: all 0.1s ease;}

ul,
ol {margin: 0; padding: 0; list-style: none;}

/* !forms */

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="search"],
textarea {height: 40px; border: 1px solid; font-size: 16px;  padding: 0 10px 0 10px; margin: auto; -webkit-appearance: none;}

/* !header */

.main-header {padding: 1em 0; margin-bottom: 1em; position: relative;}
.main-header .logo-header {font-size: 0; color: transparent; position: absolute; top: 25px; left: 40px; background: url('../imgs/readspike-logo.svg') no-repeat left center; width: 181px; height: 42px; }


/* !search */

.main-header form  {text-align: center;}
.main-header input {width: 40%; margin: 0.5em auto;}
.main-header input {-webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }


/* !link lists */

.links-list li {position: relative;} 
.links-list a  {display: block; padding: 5px; width: 100%;} 


/* !comments-list w/ comments/thumbnails */

.comments-list .comments,
.thumbnails-list .show-image,
.thumbnails-list .hide-image {position: absolute; right: 0; top: 0; text-align: center; width: 30px; height: 100%; max-height: 52px; cursor: pointer; } 

.comments-list .comments {line-height: 190%;}
.comments-list .story-title {padding-right: 30px;}

.thumbnails-list .show-image,
.thumbnails-list .hide-image {right: 30px;}
.thumbnails-list .hide-image {display: none;}
.thumbnails-list .image-link .story-title {padding-right: 60px;}

.thumbnails-list .full-image {position: inherit; z-index: 10;}
.thumbnails-list .full-image a {padding: 0; margin-bottom: -5px;}
.thumbnails-list .full-image img {width: 100%;}

.nsfw .story-title:before {content: "NSFW"; color: #990000; font-size: 10px; font-weight: bold; padding-right: 5px;}

.show-more {padding: 15px 10px; text-align: right; display: none;}

/* ! thumbnail */

.tooltip-holder  {position: absolute; right: 15px; width: 0; text-align: center; height: 0px; top: -100px; z-index: 10; opacity: 0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.tooltip-holder  {box-shadow: 0 5px 7px -7px rgba(0,0,0,0.9);}

.show-image:hover ~ .tooltip-holder {opacity: 1; width: 70px; height: 80px; }


/* !news tabs */

.news-title-prefix:after {content: " News";}
.tab-content.GNews-news {display: none;}


/* !footer */

.back-to-top {position: fixed; bottom: 32px; width: 30px; height: 30px; right: 0; opacity: 0; background: rgba(0,0,0,0.2); text-align: center; line-height: 28px;}

footer   {padding: 2%;}
footer a {padding: 2%;}


/* !settings */

.settings                    {position: absolute; top: 0; right: 0; padding: 34px 0 0 0; width: 150px; height: 87px; opacity: 0.5;}
.settings:hover              {opacity: 1;}

.settings .lightSwitch,
.settings .darkSwitch        {font-size: 0; color: transparent; margin-left: 25px; display: block; float: right; width: 20px; height: 20px; padding: 0; border-radius: 16px;}

.settings .lightSwitch       {background: #eee; border: 2px solid #333;}
.settings .lightSwitch:hover {background: #fff; border: 2px solid #fff;}
.settings .darkSwitch        {background: #333; border: 2px solid #eee; margin-right: 40px;}
.settings .darkSwitch:hover  {background: #000;}


/* !feedback form  */

.contact-form {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100}

.feedback-form {position: relative; padding: 1em; top: 15%; margin: 2em auto; max-width: 70%;}

.feedback-form input,
.feedback-form .result,
.feedback-form h1,
.feedback-form p {display: block; width: 80%; margin: 2em auto;}

.feedback-form .close-contact-form {position: absolute; top: 0; right: 0; padding: 1em; cursor: pointer; font-weight: bold; font-size: 24px;}

.feedback-form .result {display: none;}

.show-contact-form {position: fixed; bottom: 0; right: 0; font-size: 0; color: transparent; width: 30px; height: 30px; background: rgba(0,0,0,0.2) url('../imgs/speech-bubble.svg') center center no-repeat;}
.show-contact-form:hover {background: rgba(0,0,0,0.2) url('../imgs/speech-bubble.svg') center center no-repeat;}

/* ----- !THEMES ----- */


/* !dark theme colours */

body         {background: #333; color: #bbb;}

h1, h2           {color: #bbb;}
h1 a:visited, h2 a:visited {color: #bbb;}
h1 a:hover, h2 a:hover   {color: #fff; text-shadow: 0 0 5px #000; background: none;}

a            {color: #bbb;}
a:visited    {color: #666 ;}
a:hover      {background: #292929; color: #fff;}
a:active     {background: #222; color: #fff;}

.main-header {background: #222; border-bottom: 1px solid #111;}

/* !forms */

.contact-form  {background: rgba(0,0,0,0.8); border: 1px solid #111;}
.feedback-form  {background: #222; border: 1px solid #111;}

 input[type="text"],
 input[type="email"],
 input[type="search"],
 textarea                   {color: #111; background: #333; }
 input::-webkit-input-placeholder, 
 input::input-placeholder           {color: #666;}
 input:focus                        {color: #fff; border-color: #000; background: #606060; outline: #000;
                                                  -webkit-box-shadow: inset 0 0 5px #000; 
                                                  box-shadow: inset 0 0 5px #000;}

.links-list li      {border-bottom: 1px dotted #666;} 

.tab-header,
.tab-header:visited {color: #666;}
.tab-header.active  {color: #bbb;} 

.story-title.open-story, 
.story-title.open-story:visited {color: #fff;}

/* !light theme colours */

body.light          {background: #eee; color: #666;}

.light h1, .light h2           {color: #666;}
.light h1 a:visited, .light h2 a:visited {color: #666;}
.light h1 a:hover, .light h2 a:hover   {color: #333; text-shadow: none; background: none;}

.light a            {color: #666;}
.light a:visited    {color: #bebebe }
.light a:hover      {background: #ddd; color: #000;}
.light a:active     {background: #ccc; color: #222;}

.light .main-header {background: #e7e7e7; border-bottom: 1px solid #ddd;}


.light .main-header input[type="text"]                 {color: #606060; background: #fff; border-color: #C9C9C9;}
.light .main-header input::-webkit-input-placeholder, 
.light .main-header input::input-placeholder           {color: #bbb;}
.light .main-header input:focus                        {border-color: #bbb; background: #fff; 
                                                  -webkit-box-shadow: inset 0 0 5px #C9C9C9; 
                                                  box-shadow: inset 0 0 5px #C9C9C9;}

.light .links-list li      {border-bottom: 1px dotted #ccc;} 

.light .tab-header,
.light .tab-header:visited {color: #bebebe;}
.light .tab-header.active  {color: #666;} 


.light .story-title.open-story, 
.light .story-title.open-story:visited {color: #000;}




/* !responsive biznizzz */


@media
only screen and (min-width: 320px), /* Small screen, non-retina */ 
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (max-device-width : 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (max-device-width : 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (max-device-width : 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (max-device-width : 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (max-device-width : 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (max-device-width : 1024px) { 

  /* Small screen, retina, stuff to override above media query 
  body:before {content: "Small screen, retina and non-retina";}*/
  
  /* !layout */ 
  
  .main-header {padding: 0; margin-bottom: 0em; height: 60px;}
  
  .main-header .logo-header {top: 10px; left: 10px; }
  .settings                 {top: 0; right: 0; padding: 20px 0 0 0; width: 150px; height: 60px; opacity: 0.5;}
  .settings .lightSwitch, 
  .settings .darkSwitch     {margin: 0; margin-right: 20px;}

  .main-header form {display: none;}
  .col-group {overflow: hidden; margin: 0;}
  .col-group > .col {float: none; width: 100%; margin: 0%; }  
  .col section {padding-bottom: 3em;}
    
  h1 {padding: 5px 0 5px 15px;}     
  .links-list a  {padding: 15px;}
  .comments-list .comments {width: 40px; right: 10px}
  .thumbnails-list .show-image,
  .thumbnails-list .hide-image {right: 50px; width: 40px}
  .thumbnails-list .hide-image {display: none}
  .comments-list .story-title   {padding-right: 50px;}
  .thumbnails-list .image-link .story-title {padding-right: 100px;}
  .links-list li:nth-child(n+10) {display: none}
  .show-more {display: block;}
  .back-to-top {opacity: 0;}
  .light .back-to-top {background: rgba(255,255,255,0.2)}

}

@media only screen and (min-width: 700px) {

  /* Medium screen, non-retina */ 
  

  /* !header */
  
  .main-header {padding: 1em 0; margin-bottom: 1em; position: relative; height: auto}
  .main-header .logo-header {position: absolute; top: 25px; left: 40px;}
  
  h1 {padding: 5px 0 5px 5px;}     
  
  .main-header form {display: block}
  .links-list a  {padding: 5px;} 
  
  .comments-list .comments {width: 30px; right: 0}
  .thumbnails-list .show-image,
  .thumbnails-list .hide-image {right: 30px; width: 30px}
  .links-list li:nth-child(n+10) {display: block}
  .show-more {display: none;}

  .col-group        {overflow: hidden; margin: 0 2em}
  .col-group > .col {float: right; width: 31.3%; margin: 0 1%; }  
  .col section      {padding-bottom: 3em}
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  /* Medium screen, iPad portrait */ 
  body {font-size: 18px}
  h1 {padding: 5px 0 5px 15px;}    
  
  .main-header {padding: 0; margin-bottom: 0em; height: 60px}
  
  .main-header .logo-header {top: 10px; left: 10px; }
  .settings                 {top: 0; right: 0; padding: 20px 0 0 0; width: 150px; height: 60px; opacity: 0.5;}
  .settings .lightSwitch, 
  .settings .darkSwitch     {margin: 0; margin-right: 20px;}

  .main-header form {display: none}
  
  .links-list a  {padding: 15px;} 
  .links-list li:nth-child(n+10) {display: none}
  .show-more {display: block;}
  
  .comments-list .comments {width: 50px; right: 10px}
  .thumbnails-list .show-image,
  .thumbnails-list .hide-image {right: 50px; width: 50px}

 /* !layout */
  
  .col-group {overflow: hidden; margin: 0 0.5em}
  .col-group > .col {float: none; width: 100%; margin: 0 0; }  
  .col section {padding-bottom: 3em}
}





@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  /* Medium screen, iPad landscape */
  body {font-size: 18px}
  
  .col-group {margin: 0 auto}
  .col-group > .col {margin: 0 0.5em; }  
  
  .links-list a  {padding: 15px 5px;} 
  
  .comments-list .comments {width: 50px; right: 0}
  .thumbnails-list .show-image,
  .thumbnails-list .hide-image {right: 50px; width: 50px}
}

